.image_array {
  height: 400px;
}

.array_container {
  display: flex;
  flex-direction: row;

  img {
    width: 25%;
    height: 400px;
  }
}

@media screen and (max-width: 450px) {
  .image_array {
    height: 360px;
  }
  .array_container {
    display: flex;
    flex-flow: row wrap;

    img {
      width: 50%;
      height: 180px;
    }
  }
}
